#langileak {
	display: grid;
	grid-template-rows: repeat(4, 250px);
	margin: 20px 0 50px 0;
	grid-gap: 20px;
	justify-content: center;
	align-items: center;
	grid-template-columns: repeat(4, minmax(min(150px, 100%), 0.2fr));
}

#langileak img {
	width: 200px;
}

.tituluaLang {
    margin-top: 20px;
}

.langilekutxa {
    padding: 5px;
    background-color: #1878C8;
    border: 2px solid #e9e9e9;
    display: flex;
    flex-direction: column;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    border-radius: 15px;
    transition: all 1s; 
}

.langilekutxa:hover {
    transform: scale(1.05); 
    z-index: 1005;
}

.langileinfo {
    display: none; 
    text-align: left;
}

.langilekutxa:hover .langileinfo {
    display: block; 
}


.langilekutxa p {
    font-weight: bold;
}

.arduraAukera {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 20px;
}

.arduraAukera label {
	font-size: 20px;
}	

#ardura {
	width: 200px;
	padding: 5px;
	margin: 5px 0;
	border-radius: 5px;
	border: 1px solid #e9e9e9;
	background-color: #1e1e1e;
}

#ardura option {
	padding: 5px;
	background-color: #1e1e1e;
}

#DeptMain {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	min-width: 1000px;
}

#DeptMain h1, #DeptMain p {
	margin: 20px 0 0 0;
}

.taulakutxa {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	max-width: 100%;
	z-index: 1000;
}

.tauladepart {
	overflow-x: auto;
}

.tauladepart table {
	margin: 50px;
	border: 2px solid #1e1e1e;
	height: 50vh;
	width: 70vw;
	table-layout: auto;
	border-collapse: collapse;
	border-spacing: 1px;
	text-align: left;
}

.tauladepart th {
	border: 1px solid #363636;
	background-color: #515151;
	text-align: center;
	padding: 20px;
}

.tauladepart td {
	border: 1px solid #363636;
	padding: 5px;
}

.DeptIzena {
	background-color: #1e1e1e;
}

button {
    background-color: transparent;
    width: 100%;
    height: 100%;
    color: white;
    font-size: 16px;
    cursor: pointer;
    text-decoration: underline;
    border: none;
}

span img {
	width: 15px;
	margin-left: 10px;
}

.Deptinfo {
	background-color: #636363;
}


@media screen and (max-width: 1320px) {
	#langileak {
        grid-template-columns: repeat(auto-fit, minmax(min(30rem, 100%), 0.2fr));
	}
}

@media only screen and (max-width: 1050px) {
    .tauladepart table {
        width: 90vw;
        min-width: auto;
    }

	#DeptMain {
		min-width: 100vw;
	}
}

@media only screen and (max-width: 750px) {
	#DeptMain h1, #DeptMain p {
		text-align: center;
		width: 200px;
	}
}

